.iconoMasMenos {
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  color:#e7a17a;
}

.colorFondoBlanco {
  background-color: white;
  border-color: green;
  text-align: center;
  color: black;
}

.card-img-top {
  flex: 0 0 auto;
  margin-top: 10px;
  margin-right: 10px;
}

.instrumento:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .instrumento {
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}



.envio-gratis {
  color: green;
  font-weight: bold;
}

.image-content-container {
  display: flex;
}

.card-body {
  flex: 1 1 auto;
  text-align: left;
}

.card {
  min-height: 400px;
}

.instrumento-img {
  max-width: 40%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
} */
